# Activation du mod rewrite d'apache
RewriteEngine On
RewriteBase /

# Redirection page 404
ErrorDocument 404 /src/404.php

# Redirection de la racine vers la page d'accueil
RedirectMatch ^/$ /src/index.php

# Redirection vers la page index avec en parametre la page demandee
RewriteRule ^([a-z0-9]+)$ /src/index.php?page=$1 [L]
